<%= stylesheet_link_tag 'users_sessions_new', media: "all" %>

<div class="login-wrapper">
  <div class="blank1">
    <h2>ログイン</h2>
    <p>※登録したメールアドレスとパスワードを入力してください。</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %>
        <%= f.password_field :password, autocomplete: "current-password", id: "password_field" %><br />

        <label>
          <input type="checkbox" onclick="togglePassword()"> パスワードを表示
        </label>
      </div>

   <!--   <%# if devise_mapping.rememberable? %>
        <div class="field">
          <%#= f.check_box :remember_me %>
          <%#= f.label :パスワードを保存 %>
        </div>
      <%# end %>-->

      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>

<!-- パスワード表示切り替え用JavaScript -->
<script>
  function togglePassword() {
    const field = document.getElementById("password_field");
    field.type = (field.type === "password") ? "text" : "password";
  }
</script>
