<div id="tweet-<%= tweet.id %>-like" class="like-container">
  <% if user_signed_in? %>
    <% if current_user.already_liked?(tweet) %>
      <% like = tweet.likes.find_by(user_id: current_user.id) %>
      <%= link_to tweet_like_path(tweet, like), 
                  data: { turbo_method: :delete, turbo_stream: true }, 
                  class: "like-btn" do %>
        <i class="fas fa-heart"></i><%= tweet.likes.count %>
      <% end %>
    <% else %>
      <%= link_to tweet_likes_path(tweet), 
                  data: { turbo_method: :post, turbo_stream: true }, 
                  class: "like-btn" do %>
        <i class="far fa-heart"></i><%= tweet.likes.count %>
      <% end %>
    <% end %>
  <% else %>
    <i class="far fa-heart"></i><%= tweet.likes.count %>
    <p>いいねの数 = </p><%= tweet.likes.count %>
  <% end %>
</div>
