<%= form_for @tweet do |f| %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name, :size => 140 %></p> 

  <p><%= f.label :title %></p>
  <p><%= f.text_field :title, :size => 140 %></p> 
  <%= f.submit "編集する" %>
<% end %>







