<%= stylesheet_link_tag 'index', :media => "all" %>

<h1>一覧ページ</h1>

<div class="tweets-container">
  <% @tweets.each do |t| %>
    <div class="tweet-card">
      <div class="tweet-main">
      <p class="tweet-user"><%= link_to t.user.name, user_path(t.user.id) %></p>
      <p class="tweet-date">投稿日: <%= t.created_at.strftime("%Y年%m月%d日 %H:%M") %></p>
      <p class="tweet-name"><%= t.name %></p>
      <h3 class="tweet-title"><%= t.title %></h3>

      <%# if user_signed_in? && current_user.id == t.user_id %>
      <%= link_to "詳細へ", tweet_path(t.id), class: "detail-btn" %>
      <%# end %>  
</div>

<div class="tweet-actions">
 <% if user_signed_in? %>
      <% if current_user.already_liked?(t) %>
       <% like = t.likes.find_by(user_id: current_user.id) %>
        <%= link_to tweet_like_path(t, like), data: { turbo_method: :delete }, class: "like-btn" do %>
            <i class="fas fa-heart"></i><%= t.likes.count %>          
        <% end %>
      <% else %>
        <%= link_to tweet_likes_path(t), data: { turbo_method: :post }, class: "like-btn" do %>
            <i class="far fa-heart"></i><%= t.likes.count %>        
        <% end %>
      <% end %>
    <% else %>
        <i class="far fa-heart"></i><%= t.likes.count %>
      <p>いいねの数 = </p><%= t.likes.count %>
    <% end %>
      

<button type="button" class="toggle-comment" data-tweet-id="<%= t.id %>">
  <i class="fa-regular fa-comment"></i> <%= t.comments.count %>
</button>
</div>

<div class="comment-wrapper" id="comment-<%= t.id %>" style="display: none;">
  <% if t.comments.any? %>
    <% t.comments.each do |c| %>
      <div class="comment">
        <strong><%= c.user.name unless c.user.blank? %>:</strong> <%= c.content %>
        <% if user_signed_in? && current_user.id == c.user_id %>
          <%= button_to "削除", tweet_comment_path(t, c), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "comment-delete-btn" %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>まだコメントはありません。</p>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [t, Comment.new], local: true) do |f| %>
      <%= f.text_area :content, placeholder: "コメントを入力" %>
      <%= button_tag type: "submit", class: "comment-submit-btn" do %>
        <i class="far fa-comments"></i> コメントする        
      <% end %>
    <% end %>
  <% end %>
</div>
</div>
<% end %>
</div>