<%= stylesheet_link_tag 'users_show', media: "all" %>



<div class="user-card">
  <div class="card-inner">
    <!-- 表：ユーザー情報 -->
    <div class="card-front">
      <h2>ユーザー</h2>
      <p>名前 : <%= @user.name %></p>
      <% if user_signed_in? && current_user.id == @user.id %>
        <p>メールアドレス : <%= @user.email %></p>
      <% end %>
      <p>コメント : <%= @user.profile %></p>
    </div>

    <!-- 裏：操作 -->
    <div class="card-back">
      <% if current_user.id == @user.id %>
        <div class="user-actions">
          <%= link_to "編集する", edit_user_registration_path, class: "btn edit-btn" %>
          <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn logout-btn" %>
        </div>    
      <% end %>
    </div>
  </div>
</div>

<div class="tweets-container">
<% @tweets.each do |t| %>
<div class="tweet-card-wrapper">
  <div class="tweet-card">
    <div class="card-inner">
      
      <!-- 表面 -->
      <div class="card-front">
        <%= link_to t.user.name, user_path(t.user.id), class: "tweet-author" %>
        <p class="tweet-date">投稿日: <%= t.created_at.strftime("%Y年%m月%d日 %H:%M") %></p>
        <h3 id="tweet_title_<%= t.id %>" class="tweet-title"><%= t.title %></h3>
        <p class="tweet-content"><%= t.name %></p>
      </div>

      <!-- 裏面 -->
      <div class="card-back">
        <%= link_to "詳細へ", tweet_path(t.id), class: "btn detail-btn" %>
        <% if user_signed_in? && current_user.id == t.user_id %>
          <%= button_to "削除／完了", tweet_path(t.id), method: :delete, class: "btn delete-btn" %>
        <% end %>
      </div>

    </div>
  </div>

  <!-- カード外：いいね＋コメント -->
  <div class="tweet-actions">
    <%= render partial: "tweets/like_section", locals: { tweet: t } %>

    <button type="button" class="toggle-comment" data-tweet-id="<%= t.id %>">
      <i class="fa-regular fa-comment"></i> <%= t.comments.count %> コメント
    </button>
  </div>

  <!-- コメントエリア -->
<div class="comment-wrapper" id="comment-<%= t.id %>" style="display: none;">
<p>コメント一覧</p>
<% if t.comments.any? %>
    <% t.comments.each do |c| %>
      <div class="comment">
        <strong><%= c.user.name unless c.user.blank? %></strong><%= c.content %>
        <% if user_signed_in? && current_user.id == c.user_id %>
          <%= button_to "削除", tweet_comment_path(t, c), method: :delete, data: { confirm: "本当に削除しますか？" }, class: " delete-comment-btn" %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>まだコメントはありません。</p>
  <% end %>

  <!-- コメント投稿フォーム -->
  <% if user_signed_in? %>
    <%= form_with(model: [t, Comment.new], local: true) do |f| %>
      <%= f.text_area :content, class: "comment-textarea" %>
      <%= button_tag type: "submit", class: " comment-submit-btn" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>
    <%# if user_signed_in? %>
    <%#= form_with(model: [t, Comment.new], local: true) do |f| %>
      <%#= f.text_area :content %>
      <%#= button_tag type: "submit" do %>
       <%# <i class="far fa-comments"></i> コメントする
      <%# end %>
    <%# end %>
  <%# end %>
</div>
<% end %>
</div> <!-- .tweets-container -->


<!-- 一覧に戻るリンクをカード風に表示 -->
<div class="back-card">
  <%= link_to "一覧ページに戻る", tweets_path, class: "back-link-btn" %>
</div>



