<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Original" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/90656ad009.js" crossorigin="anonymous"></script>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
   

  </head>

  <body>
    <header>
      <h1>Task Scope</h1>
      <div class="header-list">
      <ul>
        <li><%= link_to "ホーム", about_path %></li>
        
        <% if user_signed_in? %>
         <li><%= link_to "一覧ページ",tweets_path %></li>
         <li><%= link_to "マイページ", user_path(current_user) %></li>
         <li><%= link_to "新規投稿",new_tweet_path %></li>
         
         
       <% else %>
        <li><%= link_to "ログイン", new_user_session_path %></li>
        
       <% end %>
</ul>
      </ul>
      </div>
    </header>

    <main>
    <%= yield %>  <!-- ここに各ページの内容が入る -->
    </main>

    <footer>
      <p>Copyright © GeekSalon All Rights Reserved.</p>
    </footer>



 
    
  </body>
</html> 